# Ігноруємо віртуальне середовище
venv/

# Ігноруємо базу даних
instance/

# Ігноруємо секретні ключі
.env

# Ігноруємо службові файли IDE
.idea/
__pycache__/
flask_session/

# Ігноруємо системні файли macOS
.DS_Store

