<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <h3><i class="fas fa-phone-alt"></i> Контактна інформація</h3>
            <p><i class="fas fa-phone-alt"></i> 0 800 30 99 39 (безкоштовно)</p>
            <p><i class="fas fa-phone-alt"></i> (044) 390 32 54</p>
            <p><i class="fas fa-envelope"></i> info@4paws.com</p>
        </div>
        <div class="rating">
            <h3>Рейтинг магазину: 4.98</h3>
            <p>⭐⭐⭐⭐⭐ 1911 оцінок</p>
        </div>
        <div class="social-media">
            <h3>Ми в соцмережах</h3>
            <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#"><i class="fab fa-telegram"></i> Telegram</a>
        </div>
        <div class="extra-links">
            <h3>Корисна інформація</h3>
            <a href="#">Адреси роздрібних магазинів</a>
            <a href="#">Нові товари</a>
            <a href="#">Товари зі знижкою</a>
            <a href="#">Корми на вагу</a>
        </div>
    </div>
    <div class="payment-methods">
        <h3>Способи оплати</h3>
        <div class="payment-icons">
            <img src="{{ url_for('static', filename='img/header/visa-svgrepo-com.svg') }}" alt="Visa">
            <img src="{{ url_for('static', filename='img/header/mastercard-svgrepo-com.svg') }}" alt="Mastercard">
            <img src="{{ url_for('static', filename='img/header/google-pay-brands-solid.svg') }}" alt="Google Pay">
            <img src="{{ url_for('static', filename='img/header/apple-pay-brands-solid.svg') }}" alt="Apple Pay">
        </div>
    </div>
</div>

</div>
    <div class="footer-bottom">
        <p>© 2005 - 2025 Зоомагазин ® Всі права захищені</p>
        <p>Умови використання сайту | Публічна оферта | Повернення товару</p>
    </div>
</footer>
