body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.checkout-container {
    width: 80%;
    margin: 40px auto;
}

.checkout-content {
    display: flex;
    justify-content: space-between;
}

.checkout-form, .order-summary {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form {
    width: 55%;
}

.checkout-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.checkout-form input, .checkout-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.order-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.order-summary {
    width: 40%;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.order-item img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 5px;
}

.discount, .delivery-cost, .total-price {
    font-size: 18px;
    margin-top: 10px;
}

.total-price {
    font-weight: bold;
    font-size: 20px;
}

/* Ховаємо поля при зміні способу доставки */
.hidden {
    display: none;
}
