<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}4Paws{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block styles %}{% endblock %}
</head>
<body>

{% include 'partials/header.html' %}

<main>
    {% block content %}{% endblock %}
</main>

{% include 'partials/footer.html' %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/products.js') }}"></script>
{% endblock %}
</body>
</html>
